@media ( max-width:1900px  )
  .container
    max-width: 1110px
  .activities
    &__title
      margin-top: 0
  .reviews
    &__title
      margin-top: 0

@media (max-width: 1440px)
  .container
    max-width: 1110px

@media ( max-width:1200px )
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .reviews
    padding-bottom: 70px
  .card
    width: 230px
    height: 230px
@media ( max-width:992px )
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto

    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-slider
      width: 100%
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      width: 100%

  .booking
    margin-bottom: 0
    width: 340px
  .map
    width: 340px
    height: 210px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .reviews
    padding-bottom: 60px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 230px

@media ( max-width:767px )
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-top
      padding: 30px 0
    &__search, &-menu, &__user
      display: none

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    margin-right: 10px
    flex-basis: auto
    width: 48px
    &-star
      margin: 0
      margin-right: 4px
      width: 6px
      height: 6px
  .hotel
    padding-top: 5px

    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        margin-top: 0
        order: -1
        margin-left: 0

  .hotel
    &-slider
      height: 350px
    &-right
      flex-direction: column

  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%
  .newsletter
    padding: 92px 0 93px 0
    &-wrapper

      max-width: 576px
      width: 92%
      display: flex
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
    &-slider

      &__item
        padding: 0 30px 30px
        &::after,&::before
          display: none
      &__button
        top: 32px

        &--prev
          margin-left: -65px
          left: 50%
          transform: translate(-50%,0)
        &--next
          margin-right: -65px
          right: 50%
          transform: translate(50%,0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px

@media (max-width: 576px)
  .logo
    width: 99px

  .hotel
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
  .subscride
    width: 350px
  .card
    width: 100%
  .activities

    &__title
      margin-top: 0
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .reviews
    padding-bottom: 50px
@media ( max-width: 480px) and (min-width: 320px)
  .hotel
    padding-bottom: 40px
    &-slider
      height: 179px

    &-info
      padding-bottom: 38px
  .container
    width: 87%
  .navbar-top
    padding: 28px 0
  .logo
    padding: 0
    height: 13.5px
    display: flex
    align-items: center

  .map
    height: 173px
  .booking
    height: 210px
  .subscride
    width: 280px
    &__button

  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      width: 87%
    &__title
      margin-top: 0
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px

      &__strong
        font-size: 30px
        line-height: 38px
  .reviews
    padding-top: 40px
    padding-bottom: 50px

    &__title
      max-width: 245px
      margin: auto
      margin-top: 0
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
