@media ( max-width:1200px )
  .container
    max-width: 960px
@media ( max-width:992px )
  .container
    max-width: 700px
  .navbar
    &:first-of-type
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15

@media ( max-width:768px )
  max-width: 576px
